html {
  background: radial-gradient(circle, rgba(63,94,251,0.41780462184873945) 0%, rgba(252,70,107,0.5886729691876751) 100%);
}

h2 {
  font-size: 3rem;
  background: -webkit-linear-gradient(90deg, rgba(251,63,63,1) 0%, rgba(97,70,252,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
}

.band {
  display: flex;
  justify-content: left;
  margin: auto;
}

.image {
  width: 25%;
  display: flex;
  justify-content: left;
  padding: 20px;
  border: solid rgb(201, 15, 15);
  border-width: 20px;
  margin: auto;
  margin-right: 10px;
}

.img-p {
  display: flex;
  justify-content: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  width: 75%;
  font-size: 1.5rem;
  margin-bottom: 50px;
}