.image {
  padding: 20px;
  border: solid rgb(201, 15, 15);
  border-width: 20px;
  float: left;
  margin: 30px;
}

.sidebar {
  display: block;
  float: right;
  width: 30%;
  background-color: antiquewhite;
  border: dashed rgb(19, 19, 194);
  padding: 10px;
  margin: 20px;
  text-align: center;
}

ul {
  list-style: none;
}

p {
  font-size: 3rem;
}